body{
    margin: 0px;
    padding: 0px;
    background:#eeeeee !important;
    font-family: 'Roboto', sans-serif;
  
  
}



.container1 {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

}
#form #search{
    background: white;
    border: none;
    padding: 15px;
    border-radius:15px;
    font-weight: 400;
   

}
#search:active, #search:focus{
    outline: rgb(237, 193, 82) solid 2px;
}

#main{
    display: flex;
    background: #545454;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
    gap: 30px;
    color: white;
    max-width: 700px;
    margin-top: 2rem;
    
}
.img-container{
    width: 200px;
    height: 150px;
    
    
}
.textContent{
    width: 90%;
}

@media  screen and (max-width:590px) {
    #main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    .textContent{
        width: 100%;
    }
    .img-container{
        height: 200px;
    }
}